<PageTitle>Index</PageTitle>

<button @onclick="LoadData">Load</button>
<button @onclick="SaveData">Add (and Save)</button>
<button @onclick="Download">Download</button>

<hr/>

@foreach (var w in storedWaves)
{
	<p>@w.Id - @w.Name - @w.Country</p>
}
